# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Explicitly ensure the official compiled APK is included in git for web hosting
!public/downloads/*.apk
